* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 80vh;
    background-color: #F0F0F0;
    font-family: 'Roboto', sans-serif;
    color: #283252;
}

/* Navbar */
.nav-bar {
    height: 80px;
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0;
    background: #FFF;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 2px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.04);
}

.nav-item img {
    /* width: 115px; */
    height: 50px;
}


#pt-bg{
    background-color: #F0F0F0;
    border-radius: 4px;
    padding: 4px 4px 4px 4px;
}

#product-icon1{
    width: 15px;
    height: 15px;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #283252;
    font-family: "Urbanist", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.nav-button img {
    width: 120px;
    height: 24px;
}

a {
    text-decoration: none;
}

.satma-nav a:hover .nav-button {
    text-decoration: underline;
}

/* Website Body Container */
.website-container {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-3, 24px);
    align-self: stretch;
}

/* Main Body */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
}

/* Left Part */
.first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.product-info-container {
    display: flex;
    height: 416px;
    align-items: flex-start;
    gap: 18px;
}

.product-img {
    display: flex;
    padding: 10px 16px 48px 16px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 16px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
}

#imageBags {
    width: 200px;
    height: 170px;
    margin: 25px 0 0 40px;
    border-radius: 10px;
}

.product-info {
    
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}

.product-info1 {
    width: 300px;
    height: 83px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.product-info2 {
    width: 100%;
    /* hirh */
    height: 100px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.product-info3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    align-self: stretch;
}

.company-info {
    display: flex;
    width: 146px;
    padding: 16px;
    /* height */
    height:100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    border: 1px solid #DCDCDC;
    background: var(--grey-white-pure, #FFF);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
    font-size: 14px;
}

.company-info1 {
    display: flex;
    width: 300px;
    height: 93px;
    padding: 13px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    border: 1px solid #DCDCDC;
    background: var(--grey-white-pure, #FFF);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
}

.company-info1 p{
    padding: 10px;
}

.product-title {
    color: var(--grey-raisin-black, #283252);
    font-family: "Urbanist", sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.7px;
}

#pt-description {
    align-self: stretch;
    color: var(--grey-raisin-black, #283252);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;
    line-height: 2; 
    /* margin-bottom: 5px; */
}

/* Stats */
.stats-report {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.stats-report1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid #4FC7C2;
}

.stats-report-container {
    padding: 20px;
    margin: 0 0 2px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
    border-radius: 16px;
    background: var(--grey-white-pure, #FFF);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
}

.stats-card {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    border: 1px solid #4FC7C2;
}

.stats-card1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid #4FC7C2;
}

.stats-number {
    display: flex;
    width: 100%;
    padding: 16px var(--spacing-3, 24px);
    align-items: center;
    gap: 10px;
    border-radius: 16px 16px var(--radius-zero, 0px) var(--radius-zero, 0px);
    background: var(--grey-white-pure, #FFF);
}

.stats-number1 {
    display: flex;
    padding: 16px var(--spacing-3, 24px);
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 16px 16px var(--radius-zero, 0px) var(--radius-zero, 0px);
    background: var(--grey-white-pure, #FFF);
}

.stats-number p {
    font-weight: 700;
}

.stats-number1 p {
    font-weight: 700;
}

.stats-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 14px;
    align-items: flex-start;
    gap: 10px;
    border-radius: var(--radius-zero, 0px) var(--radius-zero, 0px) 16px 16px;
    background: var(--brand-mint-mint-tint, #F0F9F5);
    box-shadow: 0px 0px 6px 0px rgba(79, 199, 194, 0.10);
}

.stats-title p,
.stats-title1 p {
    font-size: 14px;
    letter-spacing: .5px;
}

.stats-title1 {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    border-radius: var(--radius-zero, 0px) var(--radius-zero, 0px) 16px 16px;
    background: var(--brand-mint-mint-tint, #F0F9F5);
    box-shadow: 0px 0px 6px 0px rgba(79, 199, 194, 0.10);
}

#stats-img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

/* Right Section */
.middle {
    width: 775px;
    max-width: 775px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.material-flow {
    display: flex;
    width: 650px;
    height: 440px;
    padding: 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    border-radius: var(--radius-lg, 16px);
    background: var(--grey-white-pure, #FFF);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
}

#imageMaterialFlow {
    display: none;
}

/* Expand Btn */
.expand-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expand-btn a {
    text-decoration: none;
}

.expand-btn button {
    width: 132px;
    height: 40px;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
    gap: 4px;
    outline: transparent;
    border: transparent;
    background-color: #F0F0F0;
    font-weight: 700;
    cursor: pointer;
    transition: box-shadow .5s ease, transform .1s ease;
}

.expand-btn button:hover {
    box-shadow: 2px 2px 2px #248C90, -2px -2px 2px #248C90;
}

.expand-btn button:active {
    transform: scale(0.9);
}

.expand-btn button img {
    width: 10px;
    height: 10px;
}

/* map-box */
.map-box-container {
    width: 100%;
    height: 440px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    border-radius: var(--radius-lg, 16px);
    background: var(--grey-white-pure, #FFF);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
}

.map-container {
    width: 100%;
    height: auto;
    position: relative;
}

.buttons-container {
    display: flex;
    height: 5px;
    padding: 4px 2px;
    align-items: flex-start;
    gap: 4px;
}

.map-button-container {
    width: 50%;
    display: flex;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
}

.buttons-container:first-child .btn-icons {
    width: 10px;
    height: 10px;
}

.btn-click {
    background-color: white;
    /* Set the default background color to white */
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.btn-click.active {
    background-color: #C4F5EB;
    /* Set the active background color to #C4F5EB */
}

.btn-click {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 7px;
    justify-content: flex-start;
    align-items: center;
    border: transparent;
    border-radius: 10px;
    outline: transparent;
    cursor: pointer;
    padding: 15px;
    /* border: #050505 1px solid; */
    background-color: #FFFFFF;
    transition: #248C90 0.3s;
    border-radius: var(--radius-xl, 32px);
    border: 1px solid var(--grey-grey-light-2, #D6D8DC);
    background: var(--grey-white-pure, #FFF);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 2px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.04);
}

.icon-color {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.icon-color .active-icon {
    display: none;
}

.btn-click .active-icon {
    display: none;
    width: 20px;
}

.icon-color.active .default-icon {
    display: none;
}

.btn-click.active .default-icon {
    display: none;
}

.icon-color.active .active-icon {
    display: inline-block;

}

.btn-click.active .active-icon {
    display: inline-block;
    width: 20px;
}

.btn-click:hover {
    background-color: #C4F5EB;
    transition: 0.8s ease;
}

/* #btn1 .btn-click {
    color: black;
    background-color: #C3F5EC;
}
#btn2 .btn-click {
    color: white;
    background-color: #40cf85;
}
#btn3 .btn-click {
    color: white;
    background-color: #6289ed;
}
#btn4 .btn-click {
    color: white;
    background-color: #083739;
} */

.mapbox-container {
    display: block;
    /* width: 640px; */
    width: 100%;
    height: 350px;
    padding: 16px 0;
    background-color: white;
    border-radius: 10px;
}

.map-content {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: none;
}

.map-active {
    display: block;
}

.distance {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    background-color: #fff;
    padding: 5px;
    white-space: nowrap;
}

#infoBox,
#infoBox3,
#infoBox4 {
    position: absolute;
    bottom: 20px;
    right: 6px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    z-index: 1;
}

/* Image section */
.images-section {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    border-radius: 16px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
}

.mf-name p {
    color: #283252;
    font-family: "Urbanist", sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.9px;
}

.image-gallery-container {
    width: 88vw;
    max-width: 1420px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    overflow-x: auto;
    gap: 16px;
}

.image-content {
    position: relative;
    aspect-ratio: 3/2;
    border-radius: 10px;
}

.image-content p {
    position: absolute;
    color: var(--grey-white-pure, #FFF);
    /* font-family: Inter; */
    font-size: 12px;
    font-style: normal;
    font-weight: 570;
    line-height: normal;
    /* letter-spacing: 0.2px; */
    top: 80%;
    left: 13%;
    color: #FFFFFF;
    
    /* transform: translate(-50%, -50%); */
}

.imageGallery {
    /* position: absolute; */
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

/* Map-box CSS */
.custom-marker {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Stats Report */
.mobile-stats-report1 {
    display: none;
}

.material-chart2 {
    display: none;
}

/* CSS for marker images */
.custom-marker img {
    max-width: 100%;
    max-height: 100%;
}

/* Define the initial styles for the popup */
.marker-popup {
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    padding: 10px;
    max-width: 200px;
    transition: all 0.3s ease-in-out;
}

/* Expand - collapse */
.material-flow {
    position: relative;
}

.material-flow-chart {
    width: 100%;
    height: 330px;
}

#chartdiv {
    width: 100%;
    height: 330px;
}

#expandCollapseBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10000;
}

/* First/Middle Section Responsive */
@media screen and (min-width: 1200px) {
    .website-container {
        display: flex;
        align-items: center;
    }

    .main-container {
        justify-content: center;
    }

    .main-container {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }

    .nav-bar {
        height: 80px;
        /* width: 120%; */
        display: flex;
        padding: 0 40px;
        justify-content: space-between;
        align-items: center;
        border-radius: 0;
        background: #FFF;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 2px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.04);

    }

    .images-section {
        display: flex;
        padding: 16px;
        /* width: 100%; */
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 16px;
        border-radius: 16px;
        background: #FFFFFF;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
    }

    .image-gallery-container {
        width: 105vw;
        max-width: 1300px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        /* flex-wrap: wrap; */
        overflow-x: auto;
        gap: 16px;

    }

    .middle {
        width: 650px;
        max-width: 775px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }


}



@media screen and (max-width: 750px) {
    .middle {
        width: 100% !important;
        max-width: 100% !important;
    }

    .website-container {
        justify-content: center;
        padding: 16px;
    }

    .product-info-container {
        /* width: 100%; */
        height: auto;
        flex-direction: column;
    }

    .product-img {
        height: 15em;
        align-items: center;
        justify-content: center;
    }

    .product-info {
        width: 100%;
        align-items: center;
    }

    .product-info1 {
        /* width: 100%; */
        height: 132px;
        justify-content: space-around;
    }

    .product-desc-img {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    #pt-description {
        letter-spacing: .7px;
        line-height: 1.5rem;
        font-size: 14px;
    }

    #imageBags {
        width: 120px;
        height: 100px;
        margin: 0;
    }

    .company-info {
        padding: 20px 16px;
    }

    .company-info,
    .company-info1 {
        width: 100%;
    }

    .product-info2 {
        justify-content: center;
    }

    .first {
        width: 100%;
        align-items: center;
    }

    .material-flow {
        width: 100% !important;
        height: auto !important;
    }

    .stats-report-container {
        padding: 10px;
        justify-content: center;
        align-items: center !important;
    }

    .stats-report {
        justify-content: center;
        flex-wrap: wrap;
    }

    .stats-report1 {
        align-self: unset !important;
        width: 100% !important;
    }

    .stats-card {
        width: 100% !important;
    }

    .map-button-container {
        width: 100% !important;
    }

    .map-box-container {
        height: auto !important;
    }

    .mapbox-container {
        /* width: 320px !important; */
        width: 100% !important;
        height: 440px !important;
    }

    .map-button-container {
        /* height: 40px;
        max-width: 300px;
        position: relative !important;
        left: 0 !important;
        top: -10px !important;
        padding: 0;
        margin: 12px 0;
        overflow-x: auto; */
        display: flex;
        padding: var(--radius-zero, 0px);
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        position: absolute;
        left: 10px;
        top: 20px;
    }

    .material-flow-chart {
        height: auto !important;
    }

    #chartdiv {
        display: none;
    }

    #imageMaterialFlow {
        display: block;
        width: 100%;
        aspect-ratio: 2/4;
        border-radius: var(--radius-lg, 16px);
        border: 2px solid var(--grey-grey-tint, #F0F0F0);
    }

    .mobile-stats-report1 .mf-name {
        width: 100%;
        padding: 8px 6px;
    }

    .mobile-stats-report1 {
        display: flex;
    }

    .mobile-stats-report2 {
        display: none;
    }

    .company-info p b {
        text-align: left;
        display: block;
    }

    .material-chart1 {
        display: none;
    }

    .material-chart2 {
        display: flex;
    }
    .images-section .popup-image {
        backdrop-filter: blur(3px); /* Adjust blur for smaller screens */
    }
}

/* Nav Responsive */
@media screen and (max-width: 650px) {
    .nav-bar {
        height: auto;
        padding: 8px 16px;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
    }

    .nav-button {
        font-size: 14px;
    }
}

/* Images responsive */
@media screen and (max-width: 500px) {
    .image-gallery-container {
        height: 80vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 16px 8px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.images-section{
    position: relative;
}

.images-section .popup-image{
    position: fixed;
    top: 0;
    left: 10px;
    /* margin-left: 100px; */
    /* background:black; */
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    height: 100vh;
    width: 100%;
    z-index: 100;
    display: none;
}


.images-section .popup-image span{
    position: absolute;
    top: 0;
    right: 100px;
    font-size: 40px;
    font-weight: bolder;
    color: #283252;
    cursor: pointer;
    z-index: 100;
}

.images-section .popup-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 50px;
    transform: translate(-50%, -50%);
    border: 5px solid #FFFFFF;
    border-radius: 5px;
    width: 500px;
    object-fit: cover;

} 

.info-section p {
    text-align: center;
}

#logo-check {
    display: inline;
    margin: -8px auto;
    width: 107px;
}

.info-section {
    height: 50px;
    display: flex;
    padding: 0 40px;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    background: #FFF;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 2px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.04);
}